@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#181717, #4f4c4c);;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container h3{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0f0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    transition: 0s;
}
.container h3:hover{
    transition-delay: 0.5s;
    box-shadow: 0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00,
    0 0 80px #00ff00,
    0 0 160px #00ff00;

}
.container h3 span:hover{
    position: relative;
    z-index: 10;
}
.container h3:nth-child(1){
    filter: hue-rotate(80deg);
}
.container h3:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #00ff00,
    5px 0 0 #00ff00;
    transition-delay: 0s, 0.5s, 1s, 1s;
}
.container h3:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #00ff00,
    -5px 0 0 #00ff00;
    transition-delay: 0s, 0.5s, 1s, 1s;
}